h1,h2,h3,h4,h5,h6,p
{
	font-family: 'Oswald', sans-serif;
}

/*HEAER PANEL*/
.headerPanel
{
	width: 100%;
	height: 400px;
	background-image: url('../img/interstellar.jpg');
	background-position: center;
	background-size: cover;
}



.wrapper {
    padding: 50px;
    vertical-align: middle;
    height: 100%;
}

.wrapper .container {

}

.movieBox {
    margin: 20px 10px;
    width: 185px;
    display: inline-block;
}

.movieInfo {
    text-align: center;
}

#box {
    height: 50px;
    width: 500px;
}

#search-box {
    height: 50px;
    width: 500px;
    font-size: 200%;
}
.movieInfo h4
{
	font-weight: 300;
	margin: 5px 0;
	color: #000;
}

#search-icon {
    position: relative;
    top: 20px;
    left: 15px;
}
