h1,h2,h3,h4,h5,h6,p
{
	font-family: 'Oswald', sans-serif;
}

/*HEAER PANEL*/
.headerPanel
{
	width: 100%;
	height: 50%;
	background-image: url('../img/interstellar.jpg');
	background-position: center;
	background-size: cover;

	text-align: center;
}

.wrapper-headerPanel
{
	width: 100%;
	height: 100%;
	padding: 50px 100px;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.3);
}

.headerPanel h1
{
	font-weight: 700;
	font-size: 50px;
	color: #fff;
	margin: 0;
	letter-spacing: 1px;
}

.headerPanel p
{
	font-weight: 300;
	font-size: 20px;
	color: #dedcdc;
	margin: 0;
	letter-spacing: 1px;
}



.wrapper
{
	padding: 50px;
	vertical-align: middle;
	height: 100%;
}

.wrapper .container
{

}

.movieBox
{
	margin: 20px 10px;
	width: 185px;
	display: inline-block;
}

.movieInfo
{
	text-align: center;
}

.movieInfo h4
{
	font-weight: 300;
	margin: 5px 0;
	color: #000;
}

#search-icon {
	float: right;
}
