h1, h2, h3, h4, h5, h6, p {
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    padding: 50px;
    vertical-align: middle;
    height: 100%;
}

.movieInfo h4
{
    font-weight: 300;
    margin: 5px 0;
    color: #000;
}

.movieBox {
    margin: 20px 10px;
    width: 185px;
    display: inline-block;
    height: 347px;
    vertical-align: middle;
}

.movieInfo {
    text-align: center;
}

/*  ALL MOVIES PAGE SORTING  */

.sortingContainer
{
    display: table;
    width: 100%;
    text-align: center;
}

.buttonContainer
{
    display: inline-block;
}

.buttonContainer a
{
    margin: 0 10px;
}

.buttonContainer a
{
    transition: width 0.4s;
    background-color: rgb(90, 102, 110);
    border-color: rgb(90, 102, 110);
}

.buttonContainer a:hover
{
    transition: 0.4s;
    background-color: rgb(52, 138, 195);
}

.fa-stack:hover
{
    color: white;
}
.fa-stack i:hover
{
    color: black;
}
