.wrapper
{
	padding-left: 0;
	padding-right: 0;
}

.wrapper .container
{
	padding: 0;
}

.movieBox
{
	margin: 0;
}

.info {
	padding: 3px 0;
}

.info h1{
	font-size: 18px;
	margin: 0;
	display: inline-block;
}

.info h3{
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	display: inline-block;
}


#outer_wrapper {
    overflow: scroll;
    width:100%;
}
#outer_wrapper #inner_wrapper {
    width:6000px;
}
#outer_wrapper #inner_wrapper div.movieBox {
    float: left;
}
