html body h1 h2 h3 h4 h5 h6 p {
    font-family: 'Oswald', sans-serif;
}

.movieWrapper
{
    padding: 20px 20px;
}

.imageContainer
{
    text-align: center;
}

.movieTitleContainer h1
{
    font-size: 45px;
    font-weight: 500;
}

.directorContainer
{
    padding: 10px 0;
}

.movieWrapper h3
{
    font-size: 18px;
    font-weight: 300;
}



/* RATING STARS */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\f005";
    position: absolute;
    left: 0;
    color: gold;
}
