html body h1 h2 h3 h4 h5 {
    font-family: 'Oswald', sans-serif;
}

.movieWrapper
{
    padding: 20px 20px;
}

.movieWrapper h3
{
    font-size: 18px;
    font-weight: 300;
}

.movieWrapper h1
{
    font-size: 45px;
    font-weight: 500;
}

.movieWrapper .col-md-3
{
    text-align: center;
}

.directorContainer
{
    padding: 10px 0;
}

.trailerContainer
{
    padding: 10px 0;
}

.trailerContainer button
{
    width: 185px;
}

.overviewContainer p
{
    margin: 0;
    padding: 10px 0;
    color: #000;
}

.castsContainer p
{
    margin: 0;
    padding: 10px 0;
    color: #000;
}

/* BOOTSTRAP OVERRIDE */
@media (min-width: 1000px) {
    .col-md-9 {
        width: 75% !important;
    }
}

@media (max-width: 991px) {
    .container {
        text-align: center;
    }
}

/* RATING CONTAINER */

.ratingContainer
{
    padding: 10px 0;
}

.ratingContainer h1
{
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    font-size: 17px;
    color: rgb(29,29,29);
}

/* RATING STARS */
.rating {
    cursor: pointer;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\f005";
    position: absolute;
    left: 0;
    color: gold;
}

.trailerVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.95);
}

.hide {
    display: none;
}

#close {
    float: right;
}