h1, h2, h3, h4, h5, h6, p {
    font-family: 'Oswald', sans-serif;
}

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: url("../img/interstellar.jpg") no-repeat #1d1d1d;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

.header_mod {
  background: #1d1d1d;
}

#stuck_container
{
	background-color: rgba(0, 0, 0, 0.5);
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  color: #fff;
}
.header_mod {
  background: #1d1d1d;
}
