h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: url("../img/interstellar.jpg") no-repeat #1d1d1d;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

body {
    padding: 0px !important;
}

.header_mod {
  background: #1d1d1d;
}

#stuck_container
{
	background-color: rgba(0, 0, 0, 0.5);
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  color: #fff;
}
.header_mod {
  background: #1d1d1d;
}

@media (max-width: 767px) {
  .dropdown-menu {
    display: block;
    position: relative;
    float: none;
    width: auto;
  }
}

@media (max-width: 767px) {
    .navbar-default .navbar-header {
        margin-left: 0;
        width: 100%;
    }
}

.navbar-header {
    text-align: center;
    /*width: 100%;*/
    margin: 0;
}
